#NavigationBar{
    list-style-type: none;
    margin: 0;
    background-color: gray;
    width: 60%;
    height: 75%;
    border: 2px solid #000;
    border-radius: 15px;
    margin: auto;
}

li{
    display: inline;
    font-size: 20px;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #9B151C;
}

#panel{
    background-color: white;
    width: 75%;
    height: 75%;
    margin-left: 11%;

    border: 2px solid #000;
    border-radius: 15px;
}

p{
    font-size: 20px;
    color: black;
}

a p{
    cursor: pointer;
}

a p:hover{
    color: gray;
}

img{
    width: 50%;
    height: 50%;
}

.GIF{
    width: 400px;
    height: 400px;
    display: inline;
}

button{
    border: none;
    padding: 14px 28px;
    font-size: 20px;
    color: whitesmoke;
    background-color: rgb(5, 119, 5);
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 5px;
    width: 150px;
    text-align: center;
}

#navButtons{
    margin-right: 33px;
}

#red{
    cursor: pointer;
    color: whitesmoke;
    background-color: red;
}

#white{
    cursor: pointer;
    color: rgb(22, 22, 22);
    background-color: whitesmoke;
}

#blue{
    cursor: pointer;
    color: whitesmoke;
    background-color: blue;
}

#buy{
    cursor: pointer;
    width: 460px;
    margin-top: 5px;
    margin-bottom: 5px;
}

button#buy:hover{
    background-color: rgb(0, 54, 0);
    color: whitesmoke;
}

button#red:hover{
    background-color: rgb(148, 2, 2);
    color: whitesmoke;
}

button#blue:hover{
    background-color: rgb(0, 0, 131);
    color: whitesmoke;
}

button#white:hover{
    background-color: rgb(148, 148, 148);
    color: whitesmoke;
}

#name{
    color: rgb(255, 0, 0);
    font-weight: bold;
}

.sImg{
    width: 25%;
    height: 25%;
}

.sText{
    color: gray;
    font-size: 75%;
}

#anim{
    position: relative;
    animation: top 1s linear;
}

#secondaryAnim{
    position: relative;
    animation: side 1s linear;
}

@keyframes top{
    from{top: -1000px;}
    to{top: 0px;}
}

@keyframes side{
    from{left: -1000px;}
    to{left: 0px;}
}

th, td{
    border: 2px solid black;
}

table{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
}

th{
    background-color: gray;
}

.underscore{
    text-decoration: underline;
}

.alienName{
    color: blueviolet;
}

.terroristName{
    color: red;
}